# Local IDE config & user settings
.vscode/

# Go vendor directory
vendor/

# Environment variables
.env

# Any log files
*.log

# Database file
bot.db

# All config files except for the default
config/*
!config/default.json